<% if (title) { %>
  <h1 id="loginTitle"><%= title %></h1>
  <% } else { res.redirect('/') } %>
  
  <%- messages() %>

<p>You're logged in</p>

<% if (updateAccountlink) { %>
  <p> <a href="<%= updateAccountlink %>">Edit Account Information</a></p>
  <% } else { } %>

<% if (Access) { %>
  <h3 id="invManagement">Inventory Management</h3>
  <p> <a href="/inv">Manage Inventory</a></p>
  <% } else { } %>