<!-- HTML, title implementation using title value from controller -->
<% if (title) { %>
<h1 id="registerTitle"><%= title %></h1>
<% } else { res.redirect('/') } %> 

<%- messages() %>

<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<form id="register" action="/account/register" method="post">
  <fieldset>
    <p>ALL FIELDS ARE REQUIRED</p>
    <div>
      <label for="account_firstname">First name</label><br />
      <input
        type="text"
        id="register_firstname"
        name="account_firstname"
        value=""
        required
      />
    </div>
    <div>
      <label for="account_lastname">Last name</label><br />
      <input
        type="text"
        id="register_lastname"
        name="account_lastname"
        value=""
        required
      />
    </div>
    <div>
      <label for="account_email">Email address</label><br />
      <input
        type="email"
        id="register_email"
        name="account_email"
        value=""
        required
        placeholder="Enter a valid email address"
      />
    </div>
    <div>
      <label for="account_password">Password:</label><br />
      <input
        type="password"
        id="register_password"
        name="account_password"
        value=""
        required
        pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"
      />
      <p>
        Passwords must be minimum of 12 characters and include 1 capital letter,
        1 number and 1 special character.
      </p>
      <span id="pswdBtn">Show Password</span>
    </div>
    <button id="register_button" type="submit" value="Register">Register<br/>
  </fieldset>
</form>
<script src="/js/script.js"></script>
