/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Small View-------------------header.ejs------------------- */

#parent {
  font-family: Roboto;
}
body {
  min-width: 360px;
}

header {
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

header a {
  color: black;
  text-decoration: none;
}

.siteName {
  float: left;
  font-size: 30px;
  font-family: Lora;
}

#tools {
  float: right;
}

/* Small View-------------------header.ejs------------------- */

/* Small View-----------------navigation.ejs----------------- */

nav {
  margin-top: 60px;
  background-color: black;
  margin-left: 5px;
  margin-right: 5px;
}
nav ul {
  display: flex;
}
nav ul li {
  padding: 5px;
  list-style: none;
  margin-right: auto;
  color: white;
  font-family: Roboto;
}
nav ul li:last-child {
  margin-right: 22px;
}
nav ul li a {
  color: white;
}

/* Small View-----------------navigation.ejs----------------- */
/* Small View-------------------layout.ejs------------------- */

/*---heroCanvas---*/

#heroDesc {
  margin-left: 5px;
  position: absolute;
  margin-top: 60px;
  top: 0;
  z-index: 1;
  background: rgb(255, 255, 255, 0.6);
  color: rgb(33, 151, 219);
  font-size: 20px;
  padding: 0;
}
#heroCanvas h1 {
  padding-left: 5px;
  font-size: 27px;
}
#heroDesc li {
  margin: 2px 0;
  list-style: none;
  padding-left: 10px;
  font-family: Roboto;
}
#heroDesc li:first-child {
  font-size: 20px;
}

#buttonImage {
  width: 50%;
  display: block;
  margin-left: 10px;
  margin-right: auto;
}

#heroImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 0;
  max-width: 75%;
}
#heroCanvas {
  position: relative;
  font-family: Roboto;
}
/*---heroCanvas---*/
/*--reviewCanvas--*/

#reviewCanvas li {
  padding-bottom: 10px;
  margin-left: -15px;
  font-size: 20px;
}
#reviewCanvas h2 {
  padding-left: 5px;
  font-size: 27px;
  margin-top: 30px;
}

/*--reviewCanvas--*/
/*-upgradeOptions-*/

#upgradeOptions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 5px;
  padding-left: 10px;
}
.selections {
  width: calc(50%);
  padding-right: 6px;
  padding-bottom: 25px;
}
.individuals img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.individuals {
  background-color: rgb(33, 151, 219);
  border: 1px solid;
  height: 90px;
}
.selections a {
  display: flex;
  justify-content: center;
  color: rgb(18, 91, 133);
}
h3 {
  margin-left: 5px;
  font-size: 23px;
  margin-top: 30px;
}

/*-upgradeOptions-*/

/* Small View-------------------layout.ejs------------------- */

/* Small View-------------------footer.ejs------------------- */

footer p {
  font-size: 18px;
  padding-left: 5px;
  color: black;
  margin-bottom: 10px;
}

/* Small View-------------------footer.ejs------------------- */

@media only screen and (min-width: 700px) {
  /* -------------------header.ejs------------------- */
  header {
    padding: 10px;
  }

  header a {
    color: black;
    text-decoration: none;
  }

  .siteName {
    float: left;
    font-size: 40px;
    font-family: Lora;
  }

  #tools {
    float: right;
  }

  /* -------------------header.ejs------------------- */

  /* -----------------navigation.ejs----------------- */

  nav {
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: black;
  }
  nav ul {
    display: flex;
  }
  nav ul li {
    padding: 5px;
    list-style: none;
    margin-right: auto;
    color: white;
  }
  nav ul li:last-child {
    margin-right: 20px;
  }
  nav ul li a {
    color: white;
  }

  /* -----------------navigation.ejs----------------- */

  /* -------------------layout.ejs------------------- */

  body {
    background-image: url('/images/site/small_check.jpg');
    background-size: cover;
    object-fit: contain;
  }

  /*---heroCanvas---*/
  #wrapper {
    border: 5px solid;
    border-color: rgb(33, 151, 219);
    background-color: white;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    justify-content: space-between;
    margin-bottom: auto;
    max-width: 1100px;
  }

  #heroDesc {
    margin-left: 20px;
    position: absolute;
    margin-top: 80px;
    top: 0;
    z-index: 1;
    background: rgb(255, 255, 255, 0.6);
    color: rgb(33, 151, 219);
    font-size: 20px;
    padding: 0;
  }
  #heroCanvas h1 {
    padding-left: 10px;
  }
  #heroDesc li {
    margin: 8px 0;
    list-style: none;
    padding-left: 45px;
  }
  #heroDesc li:first-child {
    font-size: 30px;
  }

  #buttonImage {
    width: 65%;
    padding: -20px;
    display: block;
    margin-left: 20%;
    margin-right: auto;
  }

  #heroImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 0;
  }
  #heroCanvas {
    position: relative;
  }
  /*---heroCanvas---*/
  /*--reviewCanvas--*/

  #reviewCanvas li {
    padding-bottom: 10px;
    margin-left: -10px;
    font-size: 20px;
  }
  #reviewCanvas h2 {
    padding-left: 10px;
    font-size: 23px;
    margin-top: 30px;
  }
  #reviewCanvas {
    width: calc(50%);
  }

  #parent {
    display: flex;
    flex-direction: row-reverse;
    font-family: Roboto;
  }

  /*--reviewCanvas--*/
  /*-upgradeOptions-*/
  #uG {
    width: calc(50%);
  }

  #upgradeOptions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5px;
    padding-left: 10px;
  }
  .selections {
    width: calc(50%);
    padding-right: 6px;
    padding-bottom: 25px;
  }
  .individuals img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .individuals {
    background-color: rgb(33, 151, 219);
    border: 1px solid;
    height: 90px;
  }
  .selections a {
    display: flex;
    justify-content: center;
    color: rgb(18, 91, 133);
  }
  h3 {
    margin-left: 10px;
    font-size: 23px;
    margin-top: 30px;
  }

  /*-upgradeOptions-*/

  /* -------------------layout.ejs------------------- */
  /* -------------------footer.ejs------------------- */

  footer p {
    font-size: 20px;
    padding-left: 10px;
    color: black;
    margin-bottom: 10px;
  }

  /* -------------------footer.ejs------------------- */

  /* ----------------styling building process----------------- */

  #inv-display a {
    color: blue;
  }

  #inv-display li {
    border: 2px solid;
    border-color: rgb(218, 215, 215);
    border-radius: 12px;
  }
  #inv-display {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 600px;
    justify-content: space-between;
  }
  #inv-display li {
    flex: 1 0 calc(33.33% - 20px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 10px;
    max-width: 260px;
    max-height: 325px;
    justify-content: center;
    list-style-type: none;
  }
  #inv-display li a {
    height: 61%;
    text-decoration: underline;
    text-decoration-color: black;
  }
  #inv-display {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  #inv-display li div {
    height: 39%;
    text-align: center;
    font-size: 13px;
  }
  #inv-display hr {
    margin: auto;
    height: 4px;
    background-color: black;
  }
  #inv-display li a img {
    border-radius: 12px;
    object-fit: cover;
    width: 100%;
  }
  /* ----------------styling building process----------------- */

  /* ----------------styling individual display--------------- */

  #individual-display h2 a {
    color: black;
    text-decoration: none;
  }
  #individual-display h2 {
    padding-left: 10px;
    font-size: 20px;
    font-family: Roboto;
  }

  #individual-display h4,
  #individual-display p,
  #individual-display h5,
  #individual-display {
    padding-left: 10px;
    font-size: 20px;
    font-family: Roboto;
    font-weight: normal;
  }

  #individual-title {
    padding-left: 10px;
  }
  #individual-display h3 {
    font-size: 20px;
    font-family: Roboto;
    background-color: rgb(250, 245, 245);
    padding-top: 6px;
    padding-bottom: 6px;
  }
  #individual-display h4 {
    background-color: rgb(250, 245, 245);
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .descText {
    font-weight: bold;
  }

  #individual-display {
    display: flex;
    width: 100%;
    height: 600px;
  }

  #individual-display a,
  .itemDetails {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    height: 100%;
  }
  #individual-display img {
    margin-top: 40px;
    width: 100%;
    height: auto;
  }

  /* ----------------styling individual display--------------- */
}

/* --------------small styling individual display------------- */

#individual-display h2 a {
  color: black;
  text-decoration: none;
}
#individual-display h2 {
  padding-left: 10px;
  font-size: 20px;
  font-family: Roboto;
}

#individual-display h4,
#individual-display p,
#individual-display h5,
#individual-display {
  padding-left: 10px;
  font-size: 20px;
  font-family: Roboto;
  font-weight: normal;
}

#individual-title {
  padding-left: 10px;
}
#individual-display h3 {
  font-size: 20px;
  font-family: Roboto;
  background-color: rgb(250, 245, 245);
  padding-top: 6px;
  padding-bottom: 6px;
}
#individual-display h4 {
  background-color: rgb(250, 245, 245);
  padding-top: 6px;
  padding-bottom: 6px;
}

.descText {
  font-weight: bold;
}

#individual-display {
  width: 100%;
}

#individual-display a,
.itemDetails {
  height: 100%;
}

#individual-display img {
  margin-top: 40px;
  width: 100%;
  height: auto;
  padding-right: 10px;
}
/* --------------small styling individual display------------- */

/* --------------small styling inventory display------------- */

#inv-display a {
  color: blue;
}

#inv-display li {
  border: 2px solid;
  border-color: rgb(218, 215, 215);
}
#inv-display {
  width: 100%;
}
#inv-display li {
  box-sizing: border-box;
  margin: 10px;
}
#inv-display li a {
  height: 61%;
  text-decoration: underline;
  text-decoration-color: black;
}
#inv-display {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#inv-display li div {
  height: 39%;
  text-align: center;
  font-size: 13px;
}
#inv-display hr {
  margin: auto;
  height: 4px;
  background-color: black;
}
#inv-display li a img {
  object-fit: cover;
  width: 100%;
}
#classificationTitle {
  padding-left: 10px;
}

/* -----------error handling page-------------- */
#errorCode,
#errorMessage,
#intentionalError {
  padding-left: 10px;
  text-align: center;
  padding-bottom: 10px;
}
/* -----------error handling page-------------- */

/* ----------------login page------------------ */

#login {
  border: 3px solid;
  border-color: #989da2;
  border-radius: 4px;
  background-color: #334559;
  box-shadow: 0px 0px 2px 2px rgba(62, 57, 57, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: max-content;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

#login label,
#login span,
#login span a {
  color: rgb(241, 239, 239);
}

#email,
#password {
  border-radius: 4px;
  width: 280px;
  border: none;
  outline: none;
  margin: 5px;
}

#button {
  padding-top: 5px;
  font-family: Noto;
  font-size: 12px;
  margin-top: 3px;
  border-radius: 20px;
  width: 70px;
  border: none;
  outline: none;
  background-color: rgb(241, 239, 239);
}

#login div label {
  margin-left: 6px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

#login span {
  font-family: Arial, Helvetica, sans-serif;
}

/* ----------------login page------------------ */

/* ---------------register page---------------- */

#register {
  display: block;
}

#pswdBtn {
  border: 2px solid #000;
  border-radius: 5px;
  padding: 2px;
  margin-top: 1em;
  font-size: small;
  width: 7em;
  text-align: center;
}

/* ---------------register page---------------- */

/* ---------register page valid/invalid--------- */

input:required:invalid,
input:focus:invalid {
  background-color: pink;
  border: 2px solid red;
}

input:required:valid {
  background-color: blue;
  border: 2px solid blue;
}

/* ---------register page valid/invalid--------- */
