<!-- HTML, title implementation using title value from controller -->
<% if (title) { %>
  <h1 id="managementTitle"><%= title %></h1>
  <% } else { res.redirect('/') } %>
  
  <%- messages() %>
  
  <form id="addClassification" action="/inv/add-classification" method="post">
  <div>FIELD IS REQUIRED</div>
    <fieldset> 
  <div>
    <label for="">Classification Name</label><br>
    <p>
     NAME MUST BE ALPHABET CHARACTERS ONLY.
    </p>
    <input type="text" id="classification_name" name="classification_name" title="1-9 characters, no spaces, and letters only." required pattern="^[a-zA-Z]{1,9}$">
  </div>
  <button id="clasificationButton" type="submit" value="Add Classification">Add Classification<br>
</fieldset>
</form>
