<!-- HTML, title implementation using title value from controller -->
<% if (title) { %>
  <h1 id="managementTitle"><%= title %></h1>
  <% } else { res.redirect('/') } %>
  
  <%- messages() %>
  
<div>Add New Vehicle Test Page</div>
