<!-- HTML, title implementation using title value from controller -->
<% if (title) { %>
<h1 id="managementTitle"><%= title %></h1>
<% } else { res.redirect('/') } %> <%- messages() %>

<div>
  <a type="text" id="classification_name" href="inv/add-classification"
    >Add New Classification</a
  >
</div>
<div>
  <a type="text" id="addNewVehicle" href="inv/add-inventory">Add New Vehicle</a>
</div>
